# Finance
yfinance==0.2.15

# Core
pandas==2.2.1
numpy==1.26.4
scikit-learn>=1.4.0
matplotlib==3.8.3
seaborn==0.13.2

# ML Models
prophet==1.1.5
xgboost==2.0.3
tensorflow==2.14.0
autokeras>=1.0.0,<1.1.0

# Time Series
statsmodels==0.14.1

# NLP & RAG
openai==1.14.2
langchain==0.1.13
elasticsearch==8.12.0
sentence-transformers==2.5.1

# Spark
pyspark==3.5.1

# Deployment / Utils
boto3==1.34.46
kubernetes==29.0.0
python-dotenv==1.0.1
streamlit==1.32.0

# Testing
pytest==8.1.1
